################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs
/ControleFluxoCaixa.API/bin/Debug/net8.0
/ControleFluxoCaixa.API/obj
/ControleFluxoCaixa.Application/bin/Debug/net8.0
/ControleFluxoCaixa.Application/obj
/ControleFluxoCaixa.CrossCutting/obj
/ControleFluxoCaixa.Domain/bin/Debug/net8.0
/ControleFluxoCaixa.Domain/obj
/ControleFluxoCaixa.Infrastructure/bin/Debug/net8.0
/ControleFluxoCaixa.Infrastructure/obj
/ControleFluxoCaixa.Messaging/obj
/ControleFluxoCaixa.MongoDB/obj
/ControleFluxoCaixa.Tests.Integration/obj
/ControleFluxoCaixa.Tests.Unit/bin/Debug/net8.0
/ControleFluxoCaixa.Tests.Unit/obj
/obj
/ControleFluxoCaixa.Tests.Integration/bin/Debug/net8.0
/ControleFluxoCaixa.CrossCutting/bin/Debug/net8.0
/ControleFluxoCaixa.Messaging/bin/Debug/net8.0
/ControleFluxoCaixa.MongoDB/bin/Debug/net8.0
/ControleFluxoCaixa.WorkerRabbitMq/bin/Debug/net8.0
/ControleFluxoCaixa.WorkerRabbitMq/obj
/ControleFluxoCaixa.Gatware.BFF/bin/Debug/net8.0
/ControleFluxoCaixa.Gatware.BFF/obj
/ControleFluxoCaixa.API/Logs-buffer
/ControleFluxoCaixa.API/Logs-fallback/log-20250618.json
/ControleFluxoCaixa.API/Logs-fallback/log-20250619.json
/ControleFluxoCaixa.API/Logs-fallback/log-20250604.json
/ControleFluxoCaixa.API/Logs
