<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <!-- Exclui código de infraestrutura, migrations, Program e GlobalUsings -->
          <Exclude>
            [*]*.Program
            [*]*GlobalUsings*
            [*]*Migrations*
            [*]*DependencyInjection*
            [*]*Extensions*
            [*]*Middlewares*
            [*]*Workers*
            [*]*Logging*
            [ArchChallenge.CashFlow.Tests.*]*
          </Exclude>
          <!-- Inclui somente os assemblies de domínio e aplicação (sem infraestrutura) -->
          <Include>
            [ArchChallenge.CashFlow.Domain]*
            [ArchChallenge.CashFlow.Domain.Shared]*
            [ArchChallenge.CashFlow.Application]*
          </Include>
          <ExcludeByAttribute>
            GeneratedCodeAttribute
            CompilerGeneratedAttribute
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
